*.class
.classpath
.project
.settings
target

logs
results*.zip

#bin
#cache



# Package Files #
#*.jar
*.war
*.ear

#Idea files
.idea/*
*.iml
*.log

pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

deptree.txt


DetailedWorker*
